$bg-footer-left-x: 166px;
$bg-footer-left-y: 0px;
$bg-footer-left-offset-x: -166px;
$bg-footer-left-offset-y: 0px;
$bg-footer-left-width: 140px;
$bg-footer-left-height: 90px;
$bg-footer-left-total-width: 306px;
$bg-footer-left-total-height: 197px;
$bg-footer-left-image: '../../assets/images/sprite.png';
$bg-footer-left: 166px 0px -166px 0px 140px 90px 306px 197px '../../assets/images/sprite.png';
$bg-footer-right-x: 0px;
$bg-footer-right-y: 0px;
$bg-footer-right-offset-x: 0px;
$bg-footer-right-offset-y: 0px;
$bg-footer-right-width: 166px;
$bg-footer-right-height: 90px;
$bg-footer-right-total-width: 306px;
$bg-footer-right-total-height: 197px;
$bg-footer-right-image: '../../assets/images/sprite.png';
$bg-footer-right: 0px 0px 0px 0px 166px 90px 306px 197px '../../assets/images/sprite.png';
$logo-esg-black-text-x: 0px;
$logo-esg-black-text-y: 90px;
$logo-esg-black-text-offset-x: 0px;
$logo-esg-black-text-offset-y: -90px;
$logo-esg-black-text-width: 200px;
$logo-esg-black-text-height: 57px;
$logo-esg-black-text-total-width: 306px;
$logo-esg-black-text-total-height: 197px;
$logo-esg-black-text-image: '../../assets/images/sprite.png';
$logo-esg-black-text: 0px 90px 0px -90px 200px 57px 306px 197px '../../assets/images/sprite.png';
$logo-esg-black-x: 200px;
$logo-esg-black-y: 90px;
$logo-esg-black-offset-x: -200px;
$logo-esg-black-offset-y: -90px;
$logo-esg-black-width: 100px;
$logo-esg-black-height: 50px;
$logo-esg-black-total-width: 306px;
$logo-esg-black-total-height: 197px;
$logo-esg-black-image: '../../assets/images/sprite.png';
$logo-esg-black: 200px 90px -200px -90px 100px 50px 306px 197px '../../assets/images/sprite.png';
$logo-esg-white-x: 0px;
$logo-esg-white-y: 147px;
$logo-esg-white-offset-x: 0px;
$logo-esg-white-offset-y: -147px;
$logo-esg-white-width: 100px;
$logo-esg-white-height: 50px;
$logo-esg-white-total-width: 306px;
$logo-esg-white-total-height: 197px;
$logo-esg-white-image: '../../assets/images/sprite.png';
$logo-esg-white: 0px 147px 0px -147px 100px 50px 306px 197px '../../assets/images/sprite.png';

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  background-image: url(nth($sprite, 9));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
