.btn {
	@include font(bold);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;

	border-radius: 24px;
	background-color: transparent;
	border: 0 solid transparent;

	color: color(primary);

	&-primary {
		&-light {
			@include font(bold);

			border: 2px solid color(primary);
			background: color(light);
			color: color(primary);

			&:hover {
				background-color: color(light, darken);
				color: color(primary);
			}

			&:disabled {
				background: color(light);
				border: 0;
				color: color(light, darken);

				&:hover {
					background-color: color(light, darken);
					color: color(primary);
				}
			}
		}

		&-dark {
			@include font(bold);

			border: 2px solid color(primary);
			background: color(primary);
			color: color(light);

			&:hover {
				background-color: color(light, darken);
				color: color(light);
			}

			&:disabled {
				border: 0;
				background: color(dark, darken);
				color: color(light, darken);

				&:hover {
					background-color: color(light, darken);
					color: color(light);
				}
			}
		}
	}

	&-link {
		@include font(bold);

		background-color: transparent;
		color: color(primary);

		&:hover {
			background-color: transparent;
			color: inherit;
			text-decoration: underline;
		}
	}

	&:hover {
		&-link {
			@include font(bold);

			background-color: transparent;
			color: color(primary);

			&:hover {
				background-color: transparent;
				color: color(primary);

				text-decoration: underline;
			}
		}
	}

	&:disabled {
		color: color(primary);
		border: 0;

		cursor: not-allowed;
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 2px 0.05rem color(primary);
	}
}