form {
    input,
    textarea,
    select {
        @include font(base);

        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 space(base);
        padding: space(p) space(base);
        gap: space(p);

        min-width: 100%;

        background: color(light);
        border: 2px solid color(dark);
        border-radius: space(p);

        font-size: font-size(normal);
        line-height: 1.2;
        color: color(dark);

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        &:disabled {
            background: color(light, lighter);
            border: 2px solid transparent;

            color: color(dark, darker);

            cursor: not-allowed;
        }

        &.error {
            border: 2px solid color(danger);
            color: color(danger);

            &::placeholder {
                color: color(danger);
            }
        }
    }
}