/* Variables */
/*------------------------------------*\
    VENDORS
\*------------------------------------*/
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
/*------------------------------------*\
    RESET
\*------------------------------------*/
html, body, main, article, nav, aside, section,
header, footer, address, div,
h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, dl, dt, dd,
hr, pre, figure, figcaption,
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,
form, fieldset, legend, label, input, button, select, datalist,
optgroup, option, textarea, progress, meter,
img, iframe, embed, object, param, video, audio, source,
canvas, track, map, area, del, ins,
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup,
time, code, kbd, samp, var, bdi, bdo, ruby, rt, rp, wbr,
mark, span, br {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:after,
:before {
  box-sizing: border-box;
}

button,
select,
textarea,
input {
  color: inherit;
  font-family: inherit;
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
}
a img,
a svg {
  display: block;
  border: none;
  max-width: 100%;
}

img,
svg {
  max-width: 100%;
  border: none;
}

li {
  list-style: none;
}

hr {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
}

:focus {
  outline: none;
}

[hidden], [data-hidden=true] {
  display: none;
}

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1.2;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
}

h5 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2;
}

h6 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.2;
}

p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
}

hr {
  display: inline-block;
  width: 100%;
  height: 1px;
  content: "";
}

ul {
  padding-left: 24px;
}
ul li {
  list-style-type: disc;
}

a {
  color: inherit;
}
a:hover {
  color: #252525;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-family: "Montserrat";
  font-weight: 700;
}

/*------------------------------------*\
    FORM
\*------------------------------------*/
form input,
form textarea,
form select {
  font-family: "Montserrat";
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 16px;
  padding: 8px 16px;
  gap: 8px;
  min-width: 100%;
  background: #ffffff;
  border: 2px solid #252525;
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #252525;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
form input:disabled,
form textarea:disabled,
form select:disabled {
  border: 2px solid transparent;
  cursor: not-allowed;
}
form input.error,
form textarea.error,
form select.error {
  border: 2px solid #EA4335;
  color: #EA4335;
}
form input.error::placeholder,
form textarea.error::placeholder,
form select.error::placeholder {
  color: #EA4335;
}

.btn {
  font-family: "Montserrat";
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: transparent;
  border: 0 solid transparent;
  color: #252525;
}
.btn-primary-light {
  font-family: "Montserrat";
  font-weight: 700;
  border: 2px solid #252525;
  background: #ffffff;
  color: #252525;
}
.btn-primary-light:hover {
  background-color: #D4D4D4;
  color: #252525;
}
.btn-primary-light:disabled {
  background: #ffffff;
  border: 0;
  color: #D4D4D4;
}
.btn-primary-light:disabled:hover {
  background-color: #D4D4D4;
  color: #252525;
}
.btn-primary-dark {
  font-family: "Montserrat";
  font-weight: 700;
  border: 2px solid #252525;
  background: #252525;
  color: #ffffff;
}
.btn-primary-dark:hover {
  background-color: #5B5559;
  color: #ffffff;
}
.btn-primary-dark:disabled {
  border: 0;
  background: #5B5559;
  color: #5B5559;
}
.btn-primary-dark:disabled:hover {
  background-color: #5B5559;
  color: #ffffff;
}
.btn-link {
  font-family: "Montserrat";
  font-weight: 700;
  background-color: transparent;
  color: #252525;
}
.btn-link:hover {
  background-color: transparent;
  color: inherit;
  text-decoration: underline;
}
.btn:hover-link {
  font-family: "Montserrat";
  font-weight: 700;
  background-color: transparent;
  color: #252525;
}
.btn:hover-link:hover {
  background-color: transparent;
  color: #252525;
  text-decoration: underline;
}
.btn:disabled {
  color: #252525;
  border: 0;
  cursor: not-allowed;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 2px 0.05rem #252525;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
header {
  position: fixed;
  overflow: hidden;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 80px;
  background-color: #252525;
}
header .logo {
  background-image: url("../../assets/images/sprite.png");
  background-position: 0px -90px;
  width: 200px;
  height: 57px;
  overflow: hidden;
  text-indent: -9999px;
  position: relative;
  z-index: 11;
  display: inline-flex;
}
header .logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .menu nav {
  display: none;
}
@media (min-width: 79.9375em) {
  header .menu nav {
    display: inline-flex;
    align-items: center;
  }
}
header .menu nav.nav-menu--open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: inherit;
  width: 100%;
  height: 100vh;
  padding: 96px 24px;
  background-color: #252525;
  border-bottom: 2px solid #ffffff;
}
header .menu nav.nav-menu--open ul {
  display: block;
}
header .menu nav.nav-menu--open ul li {
  display: inline-block;
  width: 100%;
  margin: 0 0 32px;
}
header .menu nav.nav-menu--close {
  position: fixed;
  top: -1000vh;
  left: 0;
  z-index: 10;
  display: inherit;
  width: 100%;
  height: 100vh;
}
header .menu nav ul {
  font-family: "Montserrat";
  font-weight: 700;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
header .menu nav ul li {
  margin: 0 16px;
}
@media (min-width: 79.9375em) {
  header .menu nav ul li.selected, header .menu nav ul li:hover {
    position: relative;
  }
  header .menu nav ul li.selected:before, header .menu nav ul li:hover:before {
    display: inline-block;
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    top: 48px;
    background-color: #ffffff;
  }
}
@media (max-width: 48em) {
  header .menu nav ul li.selected a, header .menu nav ul li:hover a {
    padding-bottom: 8px;
    border-bottom: 3px solid #ffffff;
  }
}
header .menu nav ul li.selected a:hover, header .menu nav ul li:hover a:hover {
  text-decoration: none;
}
header .menu nav ul li:hover {
  position: relative;
}
header .menu nav ul li a {
  color: #ffffff;
}
header .menu nav ul li a:hover {
  text-decoration: underline;
}
header .menu .nav-button {
  position: relative;
  z-index: 99999;
  display: inherit;
  padding: 8px;
  background-color: #252525;
  border: 0;
}
@media (min-width: 79.9375em) {
  header .menu .nav-button {
    display: none;
  }
}
header .menu .nav-button .hamburger-box {
  width: 24px;
  height: 16px;
}
header .menu .nav-button .hamburger-inner,
header .menu .nav-button .hamburger-inner::before,
header .menu .nav-button .hamburger-inner::after, header .menu .nav-button.is-active .hamburger-inner, header .menu .nav-button.is-active .hamburger-inner::before, header .menu .nav-button.is-active .hamburger-inner::after {
  width: 24px;
  background-color: #ffffff;
}
header .menu .nav-button.is-active {
  background-color: #252525;
  transition: 0.5;
}
header .social--list {
  color: #ffffff;
}
header .social--list a:hover {
  text-shadow: 0 0px 10px #ffffff;
}

/*------------------------------------*\
    BODY
\*------------------------------------*/
html {
  font-family: "Montserrat", Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  font-size: 16px;
}
@media (min-width: 79.9375em) {
  html {
    -webkit-overflow-scrolling: inherit;
    overflow-x: hidden;
  }
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
@media (min-width: 79.9375em) {
  body {
    -webkit-overflow-scrolling: inherit;
    overflow-x: inherit;
  }
}
body .social--list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  margin: 0;
}
body .social--list li {
  list-style: none;
  font-size: 2rem;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/
main {
  min-height: calc(100vh - 200px);
  margin-top: 112px;
}
main .article__list {
  position: relative;
}
main .article__list img {
  max-width: 100%;
  width: 100%;
}
main .article__list--content {
  position: relative;
}
main .article__list--content .tag {
  position: absolute;
  top: 8px;
  left: -16px;
  display: inline-block;
  padding: 4px 24px 4px 32px;
  background: #5B5559;
  box-shadow: 0px 4px 4px 0px rgba(37, 37, 37, 0.5);
  border-radius: 0px 20px 20px 0px;
  font-size: 0.75rem;
  color: #ffffff;
}
main .article__list--content .metadata {
  font-family: "Montserrat";
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-top: 16px;
  padding: 0;
  list-style-type: none;
  font-size: 0.75rem;
}
main .article__list--content .metadata li {
  padding: 0;
  list-style-type: none;
}
main .article__list--content .metadata ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
main .article__list--content .metadata ul li {
  margin: 0 4px;
}
main .article__list--content h2 {
  margin: 48px 0 8px;
  font-size: 1.125rem;
}
main aside .sidebar__articles img {
  max-width: 100%;
  width: 100%;
  border-radius: 0px 16px 0px 0px;
}
main aside .sidebar__articles h6 {
  margin-bottom: 8px;
}
main aside .sidebar__ad {
  margin: 32px 0;
  text-align: center;
}
main aside .sidebar__interviews {
  margin: 32px 0;
}
main aside .sidebar__interviews img {
  max-width: 100%;
  width: 100%;
}
main aside .sidebar__interviews h6 {
  margin: 16px 0;
}

/*------------------------------------*\
    SECTION
\*------------------------------------*/
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #D4D4D4;
  border-top: 2px solid #252525;
}
@media (min-width: 79.9375em) {
  footer {
    height: 120px;
  }
}
footer:before, footer:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  content: "";
}
footer:before {
  background-image: url("../../assets/images/sprite.png");
  background-position: -166px 0px;
  width: 140px;
  height: 90px;
  margin: auto auto auto -56px;
}
footer:after {
  background-image: url("../../assets/images/sprite.png");
  background-position: 0px 0px;
  width: 166px;
  height: 90px;
  margin: auto -56px auto auto;
}
footer .logo {
  background-image: url("../../assets/images/sprite.png");
  background-position: -200px -90px;
  width: 100px;
  height: 50px;
  overflow: hidden;
  text-indent: -9999px;
  position: relative;
  display: inline-flex;
}
footer .logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  flex-direction: column;
  margin: 0;
}
@media (min-width: 79.9375em) {
  footer nav ul {
    flex-direction: row;
  }
}
footer nav ul li {
  font-family: "Montserrat";
  font-weight: 700;
  list-style-type: none;
  font-size: 0.75rem;
  text-transform: uppercase;
}
footer .copyright {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.75rem;
  color: #5B5559;
}

/*------------------------------------*\
    HELPERS
\*------------------------------------*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^=col-],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

.nopad-left {
  padding-left: 0;
}

.nopad-right {
  padding-right: 0;
}

@media (max-width: 640px) {
  .center-block-mobile {
    float: none !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .text-center-mobile {
    text-align: center;
  }
}
.center-block {
  float: none !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
@media (max-width: 767px) {
  .vcenter {
    display: inherit;
    float: inherit;
  }
}

.vbottom {
  display: inline-block;
  vertical-align: bottom;
  float: none;
}

.letter-spacing {
  letter-spacing: 2px;
}

label {
  white-space: nowrap;
}

.position-absolute {
  position: relative !important;
}
@media (min-width: 79.9375em) {
  .position-absolute {
    position: absolute !important;
  }
}

.slick-slider button {
  outline: none;
}
.slick-slider button.slick-arrow {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  background: inherit;
  text-rendering: auto;
  font-size: 0;
  border: 0;
  cursor: pointer;
}
.slick-slider button.slick-arrow.slick-prev {
  position: absolute;
  left: 0;
  margin: 84px auto auto -56px;
}
.slick-slider button.slick-arrow.slick-prev:before {
  display: block;
  content: "";
}
.slick-slider button.slick-arrow.slick-next {
  position: absolute;
  right: 0;
  margin: 84px -56px auto auto;
}
.slick-slider button.slick-arrow.slick-next:before {
  display: block;
  content: "";
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

/*------------------------------------*\
    ARTICLE
\*------------------------------------*/